### Predicting weather in Kenya using machine learning

##### The weather data is from a station at the Jomo Kenyatta International Airport - Kenya. The data is from Jan 1957 through Nov 2023. 
##### The data is from the National Oceanic and Atmospheric Administration (Climate Data Online) - https://www.ncdc.noaa.gov/cdo-web/

In [ ]:
# Loading the libraries
import pandas as pd

In [4]:
# Loading the data
weather = pd.read_csv("weather_data.csv", index_col="DATE")

In [5]:
weather.head()

,STATION,NAME,PRCP,SNWD,TAVG,TMAX,TMIN
DATE,,,,,,,
1957-01-01,KE000063740,"JOMO KENYATTA INTERNATIONAL, KE",NaN,NaN,66.0,NaN,NaN
1957-01-02,KE000063740,"JOMO KENYATTA INTERNATIONAL, KE",NaN,NaN,66.0,77.0,59.0
1957-01-03,KE000063740,"JOMO KENYATTA INTERNATIONAL, KE",NaN,NaN,63.0,75.0,59.0
1957-01-04,KE000063740,"JOMO KENYATTA INTERNATIONAL, KE",NaN,NaN,62.0,71.0,NaN
1957-01-05,KE000063740,"JOMO KENYATTA INTERNATIONAL, KE",NaN,NaN,66.0,NaN,57.0

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24359 entries, 1957-01-01 to 2023-11-28
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  24359 non-null  object
 1   NAME     24359 non-null  object
 2   PRCP     17683 non-null  float64
 3   SNWD     6 non-null      float64
 4   TAVG     20446 non-null  float64
 5   TMAX     12571 non-null  float64
 6   TMIN     13158 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.5+ MB

In [7]:
# Cleaning data and missing values
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
PRCP       0.274067
SNWD       0.999754
TAVG       0.160639
TMAX       0.483928
TMIN       0.459830
dtype: float64